<div class="pokemon-box" id="pokemon-box-last">
  <h3 class="pokemon-label">Moves</h3>
  <ul *ngFor="let move of moves">
    <li><span class="pokemon-text-value">{{ move.name }}</span></li>
  </ul>
</div>
