<app-loading [loading]="loading"></app-loading>
<div *ngIf="!loading">
  <div class="grid">
    <app-pokemon-grid-item class="grid-item" *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-grid-item>
  </div>
  <app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>
</div>
