<div class="pokemon-box">
  <h3 class="pokemon-label">Abilities</h3>
  <ul *ngFor="let ability of abilities">
    <li><span class="pokemon-text-value">{{ ability.name }}</span></li>
  </ul>
  <br>
</div>
