<app-loading [loading]="loading"></app-loading>
<div class="container">
  <div *ngIf="!loading" class="pokemon-details">

      <div class="pokemon-details-header">
        <button (click)="goBack()">Back</button>
        <h1>{{ pokemon?.description.name }}</h1>
        <app-favorites-control [pokemon]="pokemon"></app-favorites-control>
      </div>
      <app-pokemon-description class="pokemon-description" [description]="pokemon?.description" [artworkUrl]="artworkUrl"></app-pokemon-description>
      <app-pokemon-stats class="pokemon-stats" [stats]="pokemon?.stats"></app-pokemon-stats>
      <app-pokemon-abilities class="pokemon-abilities" [abilities]="pokemon?.abilities"></app-pokemon-abilities>
      <app-pokemon-moves class="pokemon-moves" [moves]="pokemon?.moves"></app-pokemon-moves>
  </div>
</div>
