<div class="pokemon-box">
  <h3 class="pokemon-label">Stats</h3>
  <!-- Very anti-DRY, treba reworkat cijelu stats logiku -->
  <p><span class="pokemon-text-prop">Health points (HP):</span> <span class="pokemon-text-value">{{ hp }}</span></p>
  <p><span class="pokemon-text-prop">Attack (ATK):</span> <span class="pokemon-text-value">{{ attack }}</span></p>
  <p><span class="pokemon-text-prop">Defense (DEF):</span> <span class="pokemon-text-value">{{ defense }}</span></p>
  <p><span class="pokemon-text-prop">Special Attack (SPA):</span> <span class="pokemon-text-value">{{ specialAttack }}</span></p>
  <p><span class="pokemon-text-prop">Special Defense (SPD):</span> <span class="pokemon-text-value">{{ specialDefense }}</span></p>
  <p><span class="pokemon-text-prop">Speed (SPE):</span> <span class="pokemon-text-value" [style.color]="color">{{ speed }}</span></p>
  <div class="stats-chart" style="display: block">
    <canvas baseChart
            [data]="statsChartData"
            [labels]="statsChartLabels"
            [options]="statsChartOptions"
            [chartType]="statsChartType">
    </canvas>
  </div>
</div>
