<div class="pagination-container">
  <ul class="pagination">
    <li id="pagination-first">
      <button [disabled]="currentPage == 1" (click)="selectPage(1, $event)">&lt;&lt;</button>
    </li>

    <li class="pagination-previous">
      <button [disabled]="currentPage == 1" (click)="selectPage(currentPage - 1, $event)">&lt;</button>
    </li>

    <li id="pagination-dots" (click)="cancelEvent($event)" *ngIf="(currentPage - range) > 1">
      <button>...</button>
    </li>

    <li *ngFor="let page of pages | async" [class.active]="page == currentPage">
      <a href="" (click)="selectPage(page, $event)">
        <button>{{page}}</button>
      </a>
    </li>

    <li id="pagination-dots" (click)="cancelEvent($event)" *ngIf="(currentPage + range) < totalPages">
      <button>...</button>
    </li>

    <li class="pagination-next">
      <button [disabled]="currentPage == totalPages" (click)="selectPage(currentPage + 1, $event)">&gt;</button>
    </li>

    <li id="pagination-last">
      <button [disabled]="currentPage == totalPages" (click)="selectPage(totalPages, $event)">&gt;&gt;</button>
    </li>
  </ul>
</div>
