.active button {
  background: white;
  color: #444;
}

.active a {
  color: #444;
}

.pagination {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
