.search-field-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-field {
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  font-size: 1.2em;
  height: 2.4em;
  min-width: 320px;
  padding: 1em;
  margin: 2em;
}
