<!-- Nažalost search komponenta poput favorites komponenti nije sastavljena od ostalih manjih zbog API-ja i logike oko ID-ja -->
<app-search-field (searchTerm)="searchPokemons($event.searchTerm)"></app-search-field>
<app-loading [loading]="loading"></app-loading>
<div *ngIf="!loading && searchTerm">
<div class="grid">
  <div class="grid-item" *ngFor="let pokemon of resultsArray; let i = index">
    <a [routerLink]="['/pokemon', pokemon.id]">
      <!-- upitnik nakon pokemona je nešto poput *ngIf="pokemon", uglavnom provjerava da li je null ili undefined,
          da nam ne throwa error, tzv. "elvis operator", također brišemo img element ako je pokemon prek 721 jer nemaju slike -->
      <img *ngIf="pokemon.id <= 721" [src]="spriteUrl + pokemon.id + '.png'">
      <h4><span class="pokemon-id">#{{ pokemon?.id }}</span> <b>{{ pokemon?.name }}</b></h4>
    </a>
  </div>
  <div class="gap"></div>
  <div class="gap"></div>
</div>
