* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  cursor: pointer;
  color:#777;
}

button {
  max-height: 2.4em;
  border: none;
  margin: 2px;
  background: #444;
  padding: 0.6em 1.2em;
  color: white;
  font-size: 1em;
}

button:hover,
button:focus {
  cursor: pointer;
	background: #000;
	color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  width: 100%;
}


.grid-item img {
  display: block;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%-2rem);
  margin: 1rem;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.grid-item:hover {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
}

#pagination-first,
#pagination-dots,
#pagination-last {
  display: none;
}

.pokemon-id {
  color: #777;
  font-weight: normal;
}

.pokemon-details {
  padding: 1em;
}

.pokemon-details-img-container {
  text-align: center;
}

#pokemon-details-img {
  max-width: 60%;
  margin: 2em;
}

.pokemon-details h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}

.pokemon-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-box {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  padding: 1em;
  margin-bottom: 3em;
}

#pokemon-box-last {
  margin-bottom: 0;
}

.pokemon-label {
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  background: white;
  top: -3em;
  left: 1em;
  margin-bottom: -5em;
  padding: 0.5em;
}

.pokemon-text-prop {
  display: inline-block;
  width: 10em;
  text-align: right;
  color: #777;
  font-weight: bold;
  vertical-align: top;

}

.pokemon-text-value {
  max-width: calc(100% - 15em);
  display: inline-block;
  color: #333;
  font-weight: normal;
  vertical-align: top;
}

.responsive-image {
  max-width: 100%;
}

.topnav-container {
  padding: 0;
}

@media screen and (max-width: 600px) {
  #pagination-first,
  #pagination-dots,
  #pagination-last {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .container {
    padding: 1em;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .grid-item {
    width: calc(50% - 2rem);
  }

  #pagination-first,
  #pagination-dots,
  #pagination-last {
    display: inline-block;
  }

  .pokemon-details {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  }

  .topnav-container {
    padding: 0 1em;
  }

  .stats-chart {
    max-width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .grid-item {
    width: calc((100%/3) - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .grid-item {
    width: calc((100%/4) - 2rem);
  }
}

