<div class="pokemon-details-img-container">
  <img id="pokemon-details-img" class="responsive-image" [src]="artworkUrl">
</div>
<div class="pokemon-box">
  <h3 class="pokemon-label">Description</h3>
  <p><span class="pokemon-text-prop">ID:</span> <span class="pokemon-text-value">{{ id }}</span></p>
  <p><span class="pokemon-text-prop">Name:</span> <span class="pokemon-text-value">{{ name }}</span></p>
  <p><span class="pokemon-text-prop">Height:</span> <span class="pokemon-text-value">{{ height }}</span></p>
  <p><span class="pokemon-text-prop">Weight:</span> <span class="pokemon-text-value">{{ weight }}</span></p>
  <p><span class="pokemon-text-prop">Info:</span> <span class="pokemon-text-value">{{ infoText }}</span></p>
  <p><span class="pokemon-text-prop">Color:</span> <span class="pokemon-text-value" [style.color]="color">{{ color }}</span></p>
  <br>
  <h3>Types</h3>
  <ul *ngFor="let type of types">
    <li><span class="pokemon-text-value" [style.color]="typeColor(type.name)">{{ type.name }}</span></li>
  </ul>
  <br>
</div>
