<!-- Ne mogu iskoristiti <app-pokemon-grid-item> jer ovdje radimo sa Pokemon instancom, umjesto PokemonShort,
     pa da skratim hrpu dodatne logike, najjednostavnije je modificirati prikaz ovdje... easy!
     Sličan problem je i kod Searcha, uglavnom limitacije API-ja i višestrukih resourceova za single entry...
     Yes, yes, znam da kršim DRY principe, ali jebemu mater... it's demo app!  -->
<div class="grid">
  <div class="grid-item" *ngFor="let pokemon of favorites">
    <a [routerLink]="['/pokemon', pokemon?.description.id]">
      <img [src]="pokemon?.description.sprite">
      <h4><span class="pokemon-id">#{{ pokemon?.description.id }}</span> <b>{{ pokemon?.description.name }}</b></h4>
    </a>
    <app-favorites-control (click)="updateFavorites()" [pokemon]="pokemon"></app-favorites-control>
  </div>
  <div class="gap"></div>
  <div class="gap"></div>
</div>
