<div class="container">
  <div class="topnav-container">
    <nav class="topnav" id="myTopnav">
        <a class="brand" routerLink="/">PokeDex</a>
        <a routerLinkActive="active" routerLink="/home">List</a>
        <a routerLinkActive="active" routerLink="/favorites">Favorites</a>
        <a routerLinkActive="active" routerLink="/search">Search</a>
        <a class="icon" (click)="topNav()">&#9776;</a>
    </nav>
  </div>
</div>

