.topnav {
    background-color: #444;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.brand {
  color: white;
  font-variant: small-caps;
}

.topnav a.brand:hover {
  color: #333;
  font-variant: small-caps;
}

.topnav .icon {
    display: none;
}

.active {
  background: white;
  color: #444;
}

.topnav a.active {
  font-weight: bold;
  color: #444;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
